<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Bienvenido</title>

    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    	<!--bootstrap -->
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
</head>
<body onload="CargaInicial()">

    <div class="sidebar" id="menuBar"></div>

    <div id="containerI"></div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script></body>
  
      <script>
          /*///////////////////////DASHBOARD///////////////////////*/
            let sidebar = document.querySelector(".sidebar");
            let closeBtn = document.querySelector("#btn");
            let searchBtn = document.querySelector(".bx-search");

            closeBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
            });

            searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
            });

            // following are the code to change sidebar button(optional)
            function menuBtnChange() {
            if(sidebar.classList.contains("open")){
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            }else {
            closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
            }
            }
            /*///////////////////////DASHBOARD///////////////////////*/
            
            /*///////////////////////USER CARGADO///////////////////////*/
            function CargaInicial(){
            console.log('Carga Fichas');
                
            fetch(`http://localhost:3000/fichas`)//metodo fetch hace consulta(peticion)
            .then(response => response.json())//promesa, funcion flecha ejecuta una linea de codigo, funcion response
            .then(function contenido(info){//info resive la respuesta de response
            console.log(info);//imprime el objeto de fichas
            
            console.log(info.fichas);
            var Nmadron = info.fichas;//guarda en Nmadron el array fichas.
            
            /*Diseño de menu de inicio*/
            var divReplaceMB = document.getElementById('menuBar');
            divReplaceMB.outerHTML = `<div class="sidebar"></div>`;

            var menubar = document.querySelector('.sidebar').innerHTML = 
                `<!--<div class="logo-details">
                    <img class="icon" src="img/LogoDH.png" width="40px">
                    <div class="logo_name"></div>
                    <i class='bx bx-menu' id="btn" ></i>
                </div>-->
                <ul class="nav-list">
            <!--<li>
                    <i class='bx bx-search' ></i>
                    <input type="text" placeholder="Search...">
                    <span class="tooltip">Search</span>
                </li>-->
                <li>
                    <a onclick="Inicio()">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Inicio</span>
                    </a>
                    <span class="tooltip">Inicio</span>
                </li>
                <li>
                    <a onclick="Preguntas()">
                    <i class='bx bx-task'></i>
                    <span class="links_name">Consulta</span>
                    </a>
                    <span class="tooltip">Consulta</span>
                </li>
                <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2' ></i>
                    <span class="links_name">Graficas</span>
                </a>
                <span class="tooltip">Graficas</span>
                </li>
                <li>
                <a href="#">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">Usuario</span>
                </a>
                <span class="tooltip">Usuario</span>
                </li>
                <li>
                <a href="#">
                    <i class='bx bx-cog' ></i>
                    <span class="links_name">Configuraciónes</span>
                </a>
                <span class="tooltip">Configuraciónes</span>
                </li>
                <li class="profile">
                    <div class="profile-details">
                    <img src="img/profile.jpg" alt="profileImg">
                    <div class="name_job">
                        <div class="name">Usuario</div>
                        <!--<div class="job">Web designer</div>-->
                    </div>
                    </div>
                    <i class='bx bx-log-out' id="log_out" ></i>
                </li>
                </ul>`;

            //For Hace el recorrido por cada una de las casillas del array
            var containerIReplace = document.getElementById('containerI');
            containerIReplace.outerHTML = 
            `<!--CONTENIDO EJEMPLO DE INICIO-->
                    <section class="home-section" id="Seccion">
                    </section>
            <!--CONTENIDO EJEMPLO DE INICIO-->`;

            var seccion = document.getElementById('Seccion').innerHTML = 
                        `<div class="wrapper-grid" id="Galeria">
                            <!---->
                            
                            <!---->
                        </div>`;
            
            for(var i = 0; i <= Nmadron.length; i++){
            var dashboardCards = document.getElementById('Galeria').innerHTML += 

            `<div class="containerGrid">
        
                <div class="containerC">
                    <div class="card">
                        <div class="imgBx">
                            <img src="img/${info.fichas[i].numero}.png" width="100%" height="100%">
                            </div>
                            <div class="contentBx">
                                <div class="gradient"></div>
                                <a class="h2"> ${info.fichas[i].nombre} </a>
                                    <div class="scroll">
                                    <div class="size">
                                            <a class="h3">Habito:</a>
                                            <a class="spant"> ${info.fichas[i].habito} </a>
                                        </div>
                                        <div class="size">
                                            <a class="h3">Corteza de la Rama:</a>
                                            <a class="spant"> ${info.fichas[i].corteza_ramas} </a>
                                        </div>
                                        <div class="size">
                                            <a class="h3">Peciolos:</a>
                                            <a class="spant"> ${info.fichas[i].peciolos} </a>
                                        </div>
                                        <div class="size">
                                            <a class="h3">Hojas:</a>
                                            <a class="spant"> ${info.fichas[i].hojas} </a>
                                        </div>
                                        <div class="size">
                                        <a class="h3">Haz:</a>
                                            <a class="spant"> ${info.fichas[i].haz} </a>
                                        </div>
                                        <div class="size">
                                            <a class="h3">Enves:</a>
                                            <a class="spant"> ${info.fichas[i].enves} </a>
                                        </div>
                                        <div class="size">
                                            <a class="h3">Flores:</a>
                                            <a class="spant"> ${info.fichas[i].flores} </a>
                                        </div>
                                        <!--<div href="#" class="buttonColor ptxt cta" id="cta">Detalles</div>-->
                                    </div>
                            </div>
                        </div>
                </div>
                
            </div>`;
            }

            });
                

            }
            /*///////////////////////USER CARGADO///////////////////////*/

            /*///////////////////////INICIO///////////////////////*/
            function Inicio() {
            console.log('Madroños Fichas');

            fetch(`http://localhost:3000/fichas`)//metodo fetch hace consulta(peticion)
            .then(response => response.json())//promesa, funcion flecha ejecuta una linea de codigo, funcion response
            .then(function contenido(info){//info resive la respuesta de response
            console.log(info);//imprime el objeto de fichas
            
            var divGaler = document.getElementById('Seccion').innerHTML = `<div class="wrapper-grid" id="Galeria"></div>`;
            
            var Nmadron = info.fichas;//guarda en Nmadron el array fichas.
            //For Hace el recorrido por cada una de las casillas del array
            for(var i = 0; i <= Nmadron.length; i++){
            var galeria = document.getElementById('Galeria').innerHTML += 
            
            '<div class="containerGrid">'
        
            + '<div class="containerC">'
                + '<div class="card">'
                +   '<div class="imgBx">'
                    +   '<img src="img/' + info.fichas[i].numero+'.png" width="100%" height="100%">'
                    + '</div>'
                    + '<div class="contentBx">'
                        + '<div class="gradient">' + '</div>'
                        + '<a class="h2">' + info.fichas[i].nombre +'</a>'
                            + '<div class="scroll">'
                            +    '<div class="size">'
                                +  '<a class="h3">Habito:' + '</a>'
                                    + '<a class="spant">' + info.fichas[i].habito + '</a>'
                                + '</div>'
                                + '<div class="size">'
                                    + '<a class="h3">Corteza de la Rama:' + '</a>'
                                    + '<a class="spant">' + info.fichas[i].corteza_ramas + '</a>'
                                + '</div>'
                                + '<div class="size">'
                                    + '<a class="h3">Peciolos:' + '</a>'
                                    +  '<a class="spant">' + info.fichas[i].peciolos + '</a>'
                                + '</div>'
                                + '<div class="size">'
                                    + '<a class="h3">Hojas:' + '</a>'
                                    + '<a class="spant">' + info.fichas[i].hojas + '</a>'
                                + '</div>'
                                +'<div class="size">'
                                    + '<a class="h3">Haz:' + '</a>'
                                    + '<a class="spant">' + info.fichas[i].haz + '</a>'
                                + '</div>'
                                + '<div class="size">'
                                    + '<a class="h3">Enves:' + '</a>'
                                    + '<a class="spant">' + info.fichas[i].enves + '</a>'
                                + '</div>'
                                + '<div class="size">'
                                    +  '<a class="h3">Flores:' + '</a>'
                                    + '<a class="spant">' + info.fichas[i].flores + '</a>'
                                + '</div>'
                                + '<!--<div href="#" class="buttonColor ptxt cta" id="cta">Detalles' + '</div>-->'
                            + '</div>'
                       + '</div>'
                   + '</div>'
                 + '</div>'
            
             + '</div>';
            }

            });
                
            }

            var preguntas, ESPECIE, ESTADO, HABITO, COLOR_FLOR, VELLO_HOJAS;

            function Preguntas() {

                console.log('Preguntas')
                
                fetch('http://localhost:3000/clasificacion')//metodo fetch hace consulta(peticion)
                .then(response => response.json())//promesa, funcion flecha ejecuta una linea de codigo, funcion response
                .then(function contenido(info){//info resive la respuesta de response
                    console.log(info);
                    
                /*     
                console.log(info);
                ESPECIE = document.getElementById('Especie');
                ESTADO = document.getElementById('Estado');
                HABITO = document.getElementById('Habito');
                COLOR_FLOR = document.getElementById('Color_flor');
                VELLO_HOJAS = document.getElementById('Vello_hoja'); */

                preguntas = document.getElementById('Seccion').innerHTML = 
                
                `
                                                <header>Busqueda de Madroños</header>
                                            
                                            <div class="card-body" id="bar-parent2">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <!-- text input de estados -->
                                                        <div class="form-group" >
                                                            <label>Selecciona Estado</label>
                                                            <select class="form-control" id="estadosinput">
                                                                    <option id="ags" value =1>Aguascalientes</option>
                                                                    <option id="bajaCalifornia"  value =2>Baja California</option>
                                                                    <option id="bajaCaliforniaSur"  value =3>Baja California Sur</option>
                                                                    <option id="campeche" value =4>Campeche</option>
                                                                    <option id="chiapas" value =5>Chiapas</option>
                                                                    <option id="chihuahua" value =6>Chihuahua</option>
                                                                    <option id="cdmx" value =7>Ciudad de México</option>
                                                                    <option id="coahuila" value =8>Coahuila</option>
                                                                    <option id="colima" value =9>Colima</option>
                                                                    <option id="durango" value =10>Durango</option>
                                                                    <option id="estado0deMexico" value =11>Estado de México</option>
                                                                    <option id="guanajuato" value =12>Guanajuato</option>
                                                                    <option id="guerrero" value =13>Guerrero</option>
                                                                    <option id="hidalgo" value =14>Hidalgo</option>
                                                                    <option id="jalisco" value =15>Jalisco</option>
                                                                    <option id="michoacán" value =16>Michoacán</option>
                                                                    <option id="morelos" value =17>Morelos</option>
                                                                    <option id="nayarit" value =18>Nayarit</option>
                                                                    <option id="nuevoLeon" value =19>Nuevo León</option>
                                                                    <option id="oaxaca" value =20>Oaxaca</option>
                                                                    <option id="puebla" value =21>Puebla</option>
                                                                    <option id="queretaro" value =22>Querétaro</option>
                                                                    <option id="quintanaRoo" value =23>Quintana Roo</option>
                                                                    <option id="sanLuisPotosi" value =24>San Luis Potosí</option>
                                                                    <option id="sinaloa" value =25>Sinaloa</option>
                                                                    <option id="sonora" value =26>Sonora</option>
                                                                    <option id="tabasco"  value =27>Tabasco</option>
                                                                    <option id="tamaulipas" value =28>Tamaulipas</option>
                                                                    <option id="tlaxcala" value =29>Tlaxcala</option>
                                                                    <option id="veracruz" value =30>Veracruz</option>
                                                                    <option id="yucatán" value =31>Yucatán</option>
                                                                    <option id="zacatecas"value =32>Zacatecas</option>
                                                            </select>
                                                        </div>
                                                        <!-- radio de hábito -->
                                                        <div class="form-group">
                                                            <label>Habito</label>
                                                            <div class="radio p-0">
                                                                <input type="radio" name="optionsRadios" id="hab1"  checked>
                                                                <label for="optionsRadios1">
                                                                    Arbol
                                                                </label>
                                                            </div>
                                                            <div class="radio p-0">
                                                                <input type="radio" name="optionsRadios" id="hab2">
                                                                <label for="optionsRadios2">
                                                                    Arbusto, Colonian o manchones
                                                                </label>
                                                            </div>
                                                        </div>
                                                        

                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                    <!-- radio de hojas, envés (vello) -->
                                                <div class="form-group">
                                                            <label>Hojas, Envés</label>
                                                            <div class="radio p-0">
                                                                <input type="radio" name="optionsRadios7" id="hoen1" value="option1" checked>
                                                                <label for="optionsRadios12">
                                                                    Glabro (Sin pelos), la superficie verde es visible
                                                                </label>
                                                            </div>
                                                            <div class="radio p-0">
                                                                <input type="radio" name="optionsRadios7" id="hoen2" value="option2">
                                                                <label for="optionsRadios13">
                                                                    Con pubesencia espaciada, la superficie verde muy visible
                                                                </label>
                                                            </div>
                                                            <div class="radio p-0">
                                                                <input type="radio" name="optionsRadios7" id="hoen3" value="option2">
                                                                <label for="optionsRadios14">
                                                                    Con pubesencia densa pero la superficie verde es visible
                                                                </label>
                                                            </div>
                                                            <div class="radio p-0">
                                                                <input type="radio" name="optionsRadios7" id="hoen4" value="option2">
                                                                <label for="optionsRadios15">
                                                                    Con pubesencia densa que oculta totalmente lo verde del envés
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <!-- radio de Flores-->
                                                    <div class="form-group">
                                                            <label>Flores</label>
                                                            <div class="radio p-0">
                                                                <input type="radio" name="optionsRadios6" id="flor1" value="option1" checked>
                                                                <label for="optionsRadios16">
                                                                    Blancas a amarillentas o verdosas
                                                                </label>
                                                            </div>
                                                            <div class="radio p-0">
                                                                <input type="radio" name="optionsRadios6" id="flor2" value="option2">
                                                                <label for="optionsRadios17">
                                                                    Rosas o blancas con tintes rosas o rojizos (bicolor mollis, occidentalis)
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary" onclick="Preguntas()">Buscar</button>
                                                </div>
                                                </div>
                                                </div>
                                            </div>
                                            <section class="home-section" id="SeccionC">
                    </section>`;

                 /* Obtiene estado */
                var v_estado = document.getElementById("estadosinput").value;
                console.log ('Estado: '+v_estado);

                /* Obtiene habito */
                var v_habito;
                if (document.getElementById('hab1').checked == true){
                    var v_habito = 1;
                }
                else if (document.getElementById('hab2').checked == true){
                    var v_habito = 2;
                }
                console.log ('Habito: '+v_habito);

                

                    /* Obtiene Hojas, Envés (vellos)*/
                    var v_hoen;
                    if (document.getElementById('hoen1').checked == true){
                    var v_hoen = 1;
                    }
                    else if (document.getElementById('hoen2').checked == true){
                    var v_hoen = 2;
                    }
                    else if(document.getElementById('hoen3').checked == true){
                    var v_hoen = 3;
                    }
                    else if(document.getElementById('hoen4').checked == true){
                    var v_hoen = 4;
                    }
                    console.log ('Hojas, Envés: '+v_hoen); 

                /* Obtiene Flores*/
                var v_flores;
                if (document.getElementById('flor1').checked == true){
                    var v_flor = 1;
                }
                else if (document.getElementById('flor2').checked == true){
                    var v_flor = 2;
                }
                console.log ('Flores: '+v_flor);

                //filtro 1 
                var f_habito  = info.clasificacion.filter(function(elemento){
                    //elemento se refiere al registro
                    return (elemento.habito==v_habito);
                    });
                    console.log(f_habito);
                    //filtro 2
                    var f_estado  =f_habito.filter(function(elemento){
                    //elemento se refiere al registro
                    return (elemento.estados[0]==v_estado ||
                        elemento.estados[1]==v_estado ||
                        elemento.estados[2]==v_estado ||
                        elemento.estados[3]==v_estado ||
                        elemento.estados[4]==v_estado ||
                        elemento.estados[5]==v_estado ||
                        elemento.estados[6]==v_estado ||
                        elemento.estados[7]==v_estado ||
                        elemento.estados[8]==v_estado ||
                        elemento.estados[9]==v_estado ||
                        elemento.estados[10]==v_estado ||
                        elemento.estados[11]==v_estado ||
                        elemento.estados[12]==v_estado ||
                        elemento.estados[13]==v_estado ||
                        elemento.estados[14]==v_estado ||
                        elemento.estados[15]==v_estado ||
                        elemento.estados[16]==v_estado ||
                        elemento.estados[17]==v_estado ||
                        elemento.estados[18]==v_estado ||
                        elemento.estados[19]==v_estado ||
                        elemento.estados[20]==v_estado ||
                        elemento.estados[21]==v_estado ||
                        elemento.estados[22]==v_estado ||
                        elemento.estados[23]==v_estado ||
                        elemento.estados[24]==v_estado ||
                        elemento.estados[25]==v_estado ||
                        elemento.estados[26]==v_estado ||
                        elemento.estados[27]==v_estado ||
                        elemento.estados[28]==v_estado );
                    });
                    console.log(f_estado);

                    //filtro 3 
                    var f_vello  = f_estado.filter(function(elemento){
                    //elemento se refiere al registro
                    return (elemento.vello_hojas==v_hoen);
                    });
                    console.log(f_vello);

                    //filtro 4
                    var f_flor  = f_vello.filter(function(elemento){
                    //elemento se refiere al registro
                    return (elemento.color_flor==v_flor);
                    });
                    console.log(f_flor);

                    console.log('Madroños Fichas Resultado');

                    fetch(`http://localhost:3000/fichas`)//metodo fetch hace consulta(peticion)
                    .then(response => response.json())//promesa, funcion flecha ejecuta una linea de codigo, funcion response
                    .then(function contenido(info){//info resive la respuesta de response
                    console.log(info);//imprime el objeto de fichas
                    
                    var max = f_flor.length;

                    let min = 0;
                    

                    /* var pos;
                    for ( var r=0; r<=max;r++){
                        console.log(f_flor[0].especie);
                        var pos =  Math.floor(Math.random()*31)
                        console.log(pos);
                    var resConsulta  = info.fichas.filter(function(elemento){
                    //elemento se refiere al registro
                    return (elemento.numero==pos);
                    });
                    } */
                    
                    var resConsulta = Math.floor(Math.random()*3);

                    var divGaler = document.getElementById('SeccionC').innerHTML = `<div class="wrapper-grid" id="resultadoC"></div>`;
                    
                    //var Nmadron = resConsulta;//guarda en Nmadron el array fichas.
                    //For Hace el recorrido por cada una de las casillas del array
                    

                    for(var i = 0; i <= resConsulta; i++){
                        var r = Math.floor(Math.random()*31);
                    var galeria = document.getElementById('resultadoC').innerHTML += 
                    
                    '<div class="containerGrid">'
                
                    + '<div class="containerC">'
                        + '<div class="card">'
                        +   '<div class="imgBx">'
                            +   '<img src="img/'+info.fichas[r].numero+'.png" width="100%" height="100%">'
                            + '</div>'
                            + '<div class="contentBx">'
                                + '<div class="gradient">' + '</div>'
                                + '<a class="h2">' + info.fichas[r].nombre +'</a>'
                                    + '<div class="scroll">'
                                    +    '<div class="size">'
                                        +  '<a class="h3">Habito:' + '</a>'
                                            + '<a class="spant">' + info.fichas[r].habito + '</a>'
                                        + '</div>'
                                        + '<div class="size">'
                                            + '<a class="h3">Corteza de la Rama:' + '</a>'
                                            + '<a class="spant">' + info.fichas[r].corteza_ramas + '</a>'
                                        + '</div>'
                                        + '<div class="size">'
                                            + '<a class="h3">Peciolos:' + '</a>'
                                            +  '<a class="spant">' + info.fichas[r].peciolos + '</a>'
                                        + '</div>'
                                        + '<div class="size">'
                                            + '<a class="h3">Hojas:' + '</a>'
                                            + '<a class="spant">' + info.fichas[r].hojas + '</a>'
                                        + '</div>'
                                        +'<div class="size">'
                                            + '<a class="h3">Haz:' + '</a>'
                                            + '<a class="spant">' + info.fichas[r].haz + '</a>'
                                        + '</div>'
                                        + '<div class="size">'
                                            + '<a class="h3">Enves:' + '</a>'
                                            + '<a class="spant">' + info.fichas[r].enves + '</a>'
                                        + '</div>'
                                        + '<div class="size">'
                                            +  '<a class="h3">Flores:' + '</a>'
                                            + '<a class="spant">' + info.fichas[r].flores + '</a>'
                                        + '</div>'
                                        + '<!--<div href="#" class="buttonColor ptxt cta" id="cta">Detalles' + '</div>-->'
                                    + '</div>'
                            + '</div>'
                        + '</div>'
                        + '</div>'
                    
                    + '</div>';
                    }

                    });
                    

                });

                /*///////////////////////TARJETAS DE RESULTADO///////////////////////*/
                
            }

      </script>
      <script src="js/script.js" type="text/javascript"></script>
</body>
</html>
